/* ↓↓↓ адаптация для 380px ↓↓↓ ---------------------*/
@media screen and (max-width: 380px) {

  /*--------------hero-----------------*/
  .hero {
    width: 100%;
    max-width: 380px;
    height: 888px;
  }

  .leftherosection {
    display: none;
  }

  .rightherosection {
    width: 100%;
    max-width: 380px;
    height: 888px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .herorightbox1l {
    justify-content: flex-end;
    width: 100%;
    max-width: 340px;
    height: 382px;
    padding: 0px;
  }

  .bigestboxofrightbox1l {
    width: 100%;
    max-width: 340px;
    height: 322px;
  }

  .bigtitlebox {
    /* label */
    width: 100%;
    max-width: 340px;
    height: 128px;

    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
  }

  .smallestboxofrightbox1l {
    display: none;
  }

  .herorightbox3r {
    /* label */
    width: 100%;
    max-width: 340px;
    height: 486px;
    justify-content: center;
    gap: 60px;
    padding: 0px 0px 60px 0px;
  }

  /*--------------about-----------------*/
  .about {
    width: 100%;
    max-width: 380px;
    height: 1276px;
  }

  .aboutleftinsidesection {
    width: 100%;
    max-width: 340px;
    height: 552px;
  }

  .aboutleftphotobox {
    /* picture */
    width: 100%;
    max-width: 340px;
    height: 340px;
  }

  .aboutlefttextbox {
    /* container */
    width: 100%;
    max-width: 340px;
    height: 172px;
  }

  .aboutlefttext {
    /* label */
    width: 100%;
    max-width: 340px;
    height: 120px;
  }

  .aboutcenterinsidesection {
    /* container */
    width: 100%;
    max-width: 340px;
    height: 120px;
  }

  .aboutcentertext {
    /* label */
    width: 100%;
    max-width: 340px;
    height: 120px;
  }

  .aboutrightinsidesection {
    /* container */
    width: 100%;
    max-width: 340px;
    height: 404px;
  }

  .aboutrightphotobox {
    /* picture */
    width: 100%;
    max-width: 340px;
    height: 340px;
  }

  .aboutrighttext {
    width: 100%;
    max-width: 340px;
    height: 24px;
  }

  /*--------------portfolio-----------------*/
  .portfolio {
    width: 100%;
    max-width: 380px;
    height: 938px;
  }

  .insiderportfoliobox {
    width: 100%;
    max-width: 340px;
    height: 818px;
  }

  .portfoliotextbox {
    width: 100%;
    max-width: 340px;
    height: 124px;
  }

  .portfoliotext {
    width: 100%;
    max-width: 340px;
    height: 72px;
  }

  .portfoliogallerybox {
    width: 100%;
    max-width: 340px;
    height: 654px;
  }

  /*--------------price-----------------*/
  .price {
    width: 100%;
    max-width: 380px;
    height: 2320px;
  }

  .pricetextbox {
    width: 100%;
    max-width: 340px;
    height: 100px;
  }

  .pricetext {
    width: 100%;
    max-width: 340px;
    height: 48px;
  }

  .pricegallerybox {
    width: 100%;
    max-width: 340px;
    height: 2060px;
  }

  /*---------faq-----------------*/
  .faq {
    width: 100%;
    max-width: 380px;
    height: 976px;
  }

  .faqtitlebox {
    width: 100%;
    max-width: 340px;
    height: 140px;
  }

  .faqtitle {
    width: 100%;
    max-width: 340px;
    height: 80px;
  }

  .faqundertitletext {
    /* label */
    width: 100%;
    max-width: 340px;
    height: 48px;
  }

  .faqaccordionbox {
    /* container */
    width: 100%;
    max-width: 340px;
    height: 676px;
  }

  .details {
    width: 100%;
    max-width: 340px;
    height: 228px;
  }

  .summary {
    /* question */
    width: 100%;
    max-width: 340px;
  }

  .accordiontextsize {
    width: 100%;
    max-width: 340px;
    height: 164px;
  }

}