@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/oswald/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

html {
  scroll-behavior: smooth;
  /*overflow-y: scroll;*/
}

a {
  color: inherit;
  /* или любой другой цвет */
  text-decoration: none;
  /* убирает подчёркивание */
}

.mainwraper {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

/*--------------header-----------------*/
.header {
  background-color: #222222;
  width: 100%;
  max-width: 1440px;
  height: 60px;
  /*border: 1px solid #FFFFFF;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid white;*/
  margin: 0px 0px 0px 0px;
}

.logo {
  background-image: url('../assets/icon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 0px;
}

.burgermenu {
  display: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 3px;
}

.burgermenu input {
  display: none;
}

.linesizeburgermenu1 {
  width: 12px;
  height: 2px;
  border: solid 1px #FFFFFF;
  margin: 0px 0px 0px 0px;
  transition: 0.4s ease;
}

.linesizeburgermenu2 {
  width: 20px;
  height: 2px;
  border: solid 1px #FFFFFF;
  margin: 0px 0px 0px 0px;
  transition: 0.4s ease;
}

.navbox {
  width: 100%;
  max-width: 446px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  /*border: 1px solid white;*/
  color: rgba(255, 255, 255, 1);

}

.navbox a {
  color: inherit;
  /* унаследует цвет родителя или задай свой, например: black */
  text-decoration: none;
  /* убирает подчёркивание */
  transition: color 0.3s;
  /* плавный переход цвета */
  cursor: pointer;
  /* курсор в виде руки */
  position: relative;
  transition: transform 0.3s;
}

.navbox a:hover {
  color: #fdcccc;
  /* любой цвет при наведении, например: коричневый */
  text-decoration: none;
  /* если хочешь возвращать подчёркивание */
  transform: scale(1.1);
}

.nav-list {
  width: 100%;
  max-width: 446px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  /*border: 1px solid white;*/
}

.menunavbox {
  display: none;
}

/*--------------hero-----------------*/
.hero {
  background: rgba(34, 34, 34, 1);
  /* hero */
  width: 100%;
  max-width: 1440px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
}

.leftherosection {
  /* container */
  width: 60px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding: 60px 0px 60px 0px;

}

.heroleftboxlongtext {
  /* label */
  width: 153px;
  height: 16px;
  transform: rotate(-90.00deg);
  color: rgba(255, 255, 255, 1);
  font-family: Mulish;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.heroleftboxline {
  /* line */
  width: 1px;
  height: 536px;
  background: rgba(255, 255, 255, 1);
  margin: 70px 0px 0px 0px;
}

.heroleftboxsmalltext {
  /* label */
  width: 29px;
  height: 16px;
  transform: rotate(-90.00deg);
  color: rgba(255, 255, 255, 1);

  font-family: Mulish;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin: 4px 0px 7px 0px;
}

.rightherosection {
  /* container */
  width: 100%;
  max-width: 1360px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 0px 20px 0px 20px;
}

.herorightbox1l {
  /* container */
  width: 100%;
  max-width: 740px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 160px;
  padding: 160px 0px 60px 0px;
}

.bigestboxofrightbox1l {
  /* container */
  width: 100%;
  max-width: 740px;
  height: 458px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.bigcounterbox {
  /* container */
  width: 100%;
  max-width: 341px;
  height: 86px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
}

.leftcounterbox {
  /* container */
  width: 100%;
  max-width: 138px;
  height: 86px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.plusbox {
  /* label */
  width: 19px;
  height: 54px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}

.lefttotalnumersbox {
  /* container */
  width: 111px;
  height: 86px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.numerboxoflefttotalnumersbox {
  /* label */
  width: 66px;
  height: 54px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: right;
  text-transform: uppercase;
}

.textboxoflefttotalnumersbox {
  /* label */
  width: 111px;
  height: 24px;
  color: rgba(255, 255, 255, 1);

  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

.rightcounterbox {
  /* container */
  width: 143px;
  height: 86px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.righttotalnumersbox {
  /* container */
  width: 116px;
  height: 86px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

}

.numerboxofrighttotalnumersbox {
  /* label */
  width: 70px;
  height: 54px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}

.textboxofrighttotalnumersbox {
  /* label */
  width: 116px;
  height: 24px;
  color: rgba(255, 255, 255, 1);

  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

.bigtitlebox {
  /* label */
  width: 100%;
  max-width: 740px;
  height: 264px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  font-size: 116px;
  font-weight: 300;
  line-height: 132px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.smalltextbox {
  /* label */
  width: 100%;
  max-width: 310px;
  height: 28px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.smallestboxofrightbox1l {
  /* scrollDown */
  width: 119px;
  height: 24px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.textboxofsmallestbox {
  /* label */
  width: 87px;
  height: 24px;
  color: rgba(255, 255, 255, 1);

  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

.arrowdown {
  background-image: url('../assets/arrowdown.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* arrow-down */
  width: 24px;
  height: 24px;
}

.herorightbox2c {
  /* container */
  width: 100%;
  max-width: 220px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 60px 0px 60px 0px;
}

.imgboxofherorightbox2c {
  background-image: url('../assets/picture1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* img */
  width: 100%;
  max-width: 220px;
  height: 220px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.herorightbox3r {
  /* container */
  width: 100%;
  max-width: 280px;
  height: 862px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 0px 60px 0px;
}

.imgboxofherorightbox3r {
  background-image: url('../assets/photo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* img */
  width: 100%;
  max-width: 280px;
  height: 374px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.textboxofherorightbox3r {
  /* label */
  width: 100%;
  max-width: 220px;
  height: 72px;
  color: rgba(255, 255, 255, 1);

  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

/*--------------about-----------------*/
.about {
  /* about */
  width: 100%;
  max-width: 1440px;
  height: 748px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px 60px 20px;
  background: rgba(255, 255, 255, 1);

}

.aboutleftinsidesection {
  /* container */
  width: 100%;
  max-width: 440px;
  height: 628px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;

}

.aboutleftphotobox {
  /* picture */
  background-image: url('../assets/aboutleftpicture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 440px;
  height: 440px;

}

.aboutlefttextbox {
  /* container */
  width: 100%;
  max-width: 440px;
  height: 148px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

}

.aboutlefttitle {
  /* label */
  width: 100%;
  max-width: 122px;
  height: 40px;
  color: rgba(34, 34, 34, 1);
  font-family: Oswald;
  /*font-size: 32px;*/
  font-size: 2rem;
  /*font-size: clamp(1rem, 0.648rem + 1.5vw, 2rem);*/
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.aboutlefttext {
  /* label */
  width: 100%;
  max-width: 440px;
  height: 96px;
  color: rgba(34, 34, 34, 1);
  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.aboutcenterinsidesection {
  /* container */
  width: 100%;
  max-width: 440px;
  height: 576px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;

}

.aboutcentertext {
  /* label */
  width: 100%;
  max-width: 440px;
  height: 96px;
  color: rgba(34, 34, 34, 1);

  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.aboutcenterphotobox {
  background-image: url('../assets/aboutcenterpicture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* picture */
  width: 100%;
  max-width: 440px;
  height: 440px;
}

.aboutrightinsidesection {
  /* container */
  width: 100%;
  max-width: 440px;
  height: 504px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;

}

.aboutrightphotobox {
  background-image: url('../assets/aboutrightpicture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 440px;
  height: 440px;
}

.aboutrighttext {
  /* label */
  width: 100%;
  max-width: 440px;
  height: 24px;
  color: rgba(34, 34, 34, 1);

  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

/*--------------portfolio-----------------*/
.portfolio {
  background: rgba(34, 34, 34, 1);
  /* portfolio */
  width: 100%;
  max-width: 1440px;
  height: 914px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px 60px 20px;
}

.insiderportfoliobox {
  /* container */
  width: 100%;
  max-width: 1400px;
  height: 794px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.portfoliotextbox {
  /* container */
  width: 100%;
  max-width: 360px;
  height: 100px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.portfoliotitle {
  /* label */
  width: 100%;
  max-width: 174px;
  height: 40px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  /*font-size: 32px;*/
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.portfoliotext {
  /* label */
  width: 100%;
  max-width: 360px;
  height: 48px;

  color: rgba(255, 255, 255, 1);
  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.portfoliogallerybox {
  /* slider */
  width: 100%;
  max-width: 1400px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0px 20px;
}

.portfoliophotobox1 {
  /* container */
  /*width: 100%;
  max-*/
  width: 400px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
}

.portfoliophoto1 {
  background-image: url('../assets/portfoliopicture1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 400px;
  height: 534px;
}

.portfoliophotobox2 {
  /* container */
  /*width: 100%;
  max-*/
  width: 220px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.portfoliophoto2 {
  background-image: url('../assets/portfoliopicture2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 220px;
  height: 220px;
}

.portfoliophotobox3 {
  /* container */
  /*width: 100%;
  max-*/
  width: 280px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

}

.portfoliophoto3 {
  background-image: url('../assets/portfoliopicture3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 280px;
  height: 374px;
}

.portfoliophotobox4 {
  /* container */
  /*width: 100%;
  max-*/
  width: 400px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 0px 120px 0px;
}

.portfoliophoto4 {
  background-image: url('../assets/portfoliopicture4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 400px;
  height: 534px;
}

.portfoliophotobox5 {
  /* container */
  /*width: 100%;
  max-*/
  width: 280px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 120px 0px 0px 0px;

}

.portfoliophoto5 {
  background-image: url('../assets/portfoliopicture5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 280px;
  height: 374px;
}

.portfoliophotobox6 {
  /* container */
  /*width: 100%;
  max-*/
  width: 220px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.portfoliophoto6 {
  background-image: url('../assets/portfoliopicture6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 220px;
  height: 220px;
}

.portfoliophotobox7 {
  /* container */
  /*width: 100%;
  max-*/
  width: 280px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

}

.portfoliophoto7 {
  background-image: url('../assets/portfoliopicture7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 280px;
  height: 374px;
}

.portfoliophotobox8 {
  /* container */
  /*width: 100%;
  max-*/
  width: 400px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;

}

.portfoliophoto8 {
  background-image: url('../assets/portfoliopicture8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 400px;
  height: 534px;
}

.portfoliophotobox9 {
  /* container */
  /*width: 100%;
  max-*/
  width: 220px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.portfoliophoto9 {
  background-image: url('../assets/portfoliopicture9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 220px;
  height: 220px;
}

.portfoliophotobox10 {
  /* container */
  /*width: 100%;
  max-*/
  width: 280px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

}

.portfoliophoto10 {
  background-image: url('../assets/portfoliopicture10.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 280px;
  height: 374px;
}

.portfoliophotobox11 {
  /* container */
  /*width: 100%;
  max-*/
  width: 280px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

}

.portfoliophoto11 {
  background-image: url('../assets/portfoliopicture11.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 280px;
  height: 374px;
}

.portfoliophotobox12 {
  /* container */
  /*width: 100%;
  max-*/
  width: 400px;
  height: 654px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 0px 120px 0px;

}

.portfoliophoto12 {
  background-image: url('../assets/portfoliopicture12.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;
  max-*/
  width: 400px;
  height: 534px;
}

/*--------------price-----------------*/

.price {
  background: rgba(255, 255, 255, 1);
  /* price */
  width: 100%;
  max-width: 1440px;
  height: 736px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px 60px 20px;

}

.pricetextbox {
  /* container */
  width: 100%;
  max-width: 1400px;
  height: 76px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;

}

.pricetitle {
  /* label */
  width: 100%;
  max-width: 256px;
  height: 40px;
  color: rgba(34, 34, 34, 1);

  font-family: Oswald;
  /*font-size: 32px;*/
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.pricetext {
  /* label */
  width: 100%;
  max-width: 1400px;
  height: 24px;
  color: rgba(34, 34, 34, 1);

  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.pricegallerybox {
  /* container */
  width: 100%;
  max-width: 1400px;
  height: 500px;
  /* Автолейаут */
  display: flex;
  /*flex-direction: column;*/
  justify-content: flex-start;
  align-items: center;
  gap: 40px 40px;

}

/*---------pricecard1-----------------*/
.pricecard {
  box-sizing: border-box;
  border: 1px solid rgba(34, 34, 34, 1);
  /* priceCard */
  width: 100%;
  max-width: 320px;
  height: 500px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;

}

.pricecard1topbox {
  /* container */
  height: 212px;
  /* Автолейаут */
}

.pricecardtopboxflexsize {
  width: 100%;
  max-width: 272px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

}

.pricecard1topboxtitle {
  /* label */
  width: 100%;
  max-width: 272px;
  height: 28px;
  color: rgba(34, 34, 34, 1);

  font-family: Oswald;
  /*font-size: 20px;*/
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.pricecard1topboxlist {
  /* list */
  height: 136px;
}

.pricecardtopboxlistflexsize {
  width: 100%;
  max-width: 272px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;

}

.custom-list {
  list-style: none;
  /* убираем стандартные маркеры */
  padding: 0;
  margin: 0;
}

.custom-list li {
  position: relative;
  padding-left: 12px;
  /* расстояние от квадрата до текста */
  /*margin-bottom: 10px;*/
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  /* позиция квадрата */
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  /* размер квадрата */
  height: 6px;
  background-color: #333;
  /* цвет квадрата */
}

.point {
  /* label */
  width: 100%;
  max-width: 260px;
  height: 24px;
  color: rgba(34, 34, 34, 1);

  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.pricecard1topboxtext {
  /* label */
  width: 100%;
  max-width: 272px;
  height: 24px;
  color: rgba(34, 34, 34, 1);

  font-family: Oswald;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.pricecard1downbox {
  /* container */
  height: 92px;
}

.pricecarddownboxflexsize {
  width: 100%;
  max-width: 272px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

}

.pricecard1downboxtext {
  height: 20px;
}

.pricecarddownboxfontsize {
  /* label */
  width: 100%;
  max-width: 272px;
  color: rgba(34, 34, 34, 1);
  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  word-spacing: 0px;
}

.pricecard1downboxbutton {
  /* button */
  background: rgba(34, 34, 34, 1);
  width: 100%;
  max-width: 272px;
  height: 60px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;

  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;

}

/*---------pricecard2-----------------*/
.pricecard2topbox {
  height: 268px;

}

.pricecard2topboxlist {
  /* list */
  height: 192px;
}

.pricecard2downbox {

  height: 112px;
}

.pricecard2downboxtext {
  height: 40px;
}

/*---------pricecard3-----------------*/
.pricecard3topbox {
  height: 296px;
}

.pricecard3topboxlist {
  /* list */
  height: 220px;
}

/*---------pricecard4-----------------*/
/*----0---*/

/*---------faq-----------------*/
.faq {
  background: rgba(34, 34, 34, 1);
  /* faq */
  width: 100%;
  max-width: 1440px;
  height: 724px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px 60px 20px;

}

.faqtitlebox {
  /* container */
  width: 100%;
  max-width: 680px;
  height: 76px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;

}

.faqtitle {
  /* label */
  width: 100%;
  max-width: 680px;
  height: 40px;

  color: rgba(255, 255, 255, 1);
  font-family: Oswald;
  /*font-size: 32px;*/
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.faqundertitletext {
  /* label */
  width: 100%;
  max-width: 680px;
  height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.faqaccordionbox {
  /* container */
  width: 100%;
  max-width: 680px;
  height: 604px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.details {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  /* accordion */
  width: 100%;
  max-width: 680px;
  height: 154px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


  transition: all 0.3s ease;
}

.summary {
  /* question */
  width: 100%;
  max-width: 680px;
  height: 64px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 20px 0px;
  color: rgba(255, 255, 255, 1);

  font-family: Oswald;
  /*font-size: 20px;*/
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  position: relative;
  list-style: none;
  cursor: pointer;
  user-select: none;
}

/* Убираем стандартный треугольник браузера */
summary::-webkit-details-marker {
  display: none;
}

/* Добавляем наш плюс */
summary::after {
  content: "+";
  position: absolute;
  right: 4px;
  font-size: 42px;
  transition: transform 0.3s;
}

/* Меняем плюс на минус при открытии */
details[open] summary::after {
  content: "−";
  transform: rotate(0deg);
}

.accordiontextsize {
  width: 100%;
  max-width: 680px;
  height: 92px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 417px;
  padding: 0px 0px 20px 0px;

  color: rgba(255, 255, 255, 1);
  font-family: Mulish;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

/*---------footer-----------------*/
.footer {
  /* footer */
  width: 100%;
  max-width: 1440px;
  height: 268px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
}

.footertitletext {
  /* container */
  width: 100%;
  max-width: 1440px;
  height: 28px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  color: rgba(34, 34, 34, 1);

  font-family: Oswald;
  /*font-size: 20px;*/
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.footerwraperinputsbox {
  /* container */
  width: 100%;
  max-width: 1440px;
  height: 60px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px 20px 0px 20px;

}

.footerinputname {
  box-sizing: border-box;
  border: 1px solid rgba(34, 34, 34, 1);
  background: rgba(255, 255, 255, 1);
  /* input */
  width: 100%;
  max-width: 380px;
  height: 60px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 12px 0px 12px;

}

.footerinputtextsize {
  color: rgba(152, 152, 152, 1);

  font-family: Oswald;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.footerinputphone {
  color: rgba(34, 34, 34, 1);
}

.footerbookbutton {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background: rgba(34, 34, 34, 1);
  /* button */
  width: 100%;
  max-width: 200px;
  height: 60px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.footerwrapersocialboxes {
  background: rgba(34, 34, 34, 1);
  /* container */
  width: 100%;
  max-width: 1440px;
  height: 100px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.socialboxsize {
  /* .item */

  height: 60px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;

  color: rgba(255, 255, 255, 1);
  font-family: Oswald;
  /*font-size: 16px;*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.instagrambox {
  width: 100%;
  max-width: 110px;
}

.telegrambox {
  width: 100%;
  max-width: 102px;
}

.whatsappbox {
  width: 100%;
  max-width: 106px;
}

.europebox {
  width: 100%;
  max-width: 87px;
}

.phonenumberbox {
  width: 100%;
  max-width: 136px;
}