/* ↓↓↓ адаптация для 768px ↓↓↓ ---------------------*/
@media screen and (max-width: 768px) {

  .navbox {
    display: none;
  }

  .burgermenu {
    display: block;
    /* .burger */
    width: 60px;
    height: 60px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
  }

  /*--------------hero-----------------*/


  .hero {
    width: 100%;
    max-width: 768px;
    height: 758px;
  }

  .leftherosection {
    height: 758px;
  }

  .heroleftboxline {
    height: 432px;
  }

  .rightherosection {
    width: 100%;
    max-width: 688px;
    height: 758px;
    gap: 20px;
  }

  .herorightbox1l {
    width: 100%;
    max-width: 408px;
    height: 758px;
  }

  .bigestboxofrightbox1l {
    width: 100%;
    max-width: 408px;
    height: 354px;
  }

  .bigtitlebox {
    /* label */
    width: 100%;
    max-width: 408px;
    height: 160px;
    color: rgba(255, 255, 255, 1);

    font-family: Oswald;
    font-size: 68px;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
  }

  .herorightbox2c {
    display: none;
  }

  .herorightbox3r {
    width: 100%;
    max-width: 220px;
    height: 758px;
  }

  .imgboxofherorightbox3r {
    width: 100%;
    max-width: 220px;
    height: 294px;
  }

  /*--------------about-----------------*/
  .about {
    /* about */
    width: 100%;
    max-width: 768px;
    height: 1932px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 20px 60px 20px;
  }

  .aboutleftinsidesection {
    /* container */
    width: 100%;
    max-width: 728px;
    height: 892px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }

  .aboutleftphotobox {
    /* picture */
    width: 100%;
    max-width: 728px;
    height: 728px;
  }

  .aboutlefttextbox {
    /* container */
    width: 100%;
    max-width: 728px;
    height: 124px;

  }

  .aboutlefttext {
    /* label */
    width: 100%;
    max-width: 728px;
    height: 72px;
  }

  .aboutcenterinsidesection {
    /* container */
    width: 100%;
    max-width: 728px;
    height: 48px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }

  .aboutcentertext {
    /* label */
    width: 100%;
    max-width: 728px;
    height: 48px;
  }

  .aboutcenterphotobox {
    display: none;
  }

  .aboutrightinsidesection {
    width: 100%;
    max-width: 728px;
    height: 792px;
  }

  .aboutrightphotobox {
    /* picture */
    background-image: url('../assets/aboutcenterpicture.png');
    width: 100%;
    max-width: 728px;
    height: 728px;
  }

  .aboutrighttext {
    width: 100%;
    max-width: 728px;
    height: 24px;
  }

  /*--------------portfolio-----------------*/
  .portfolio {
    width: 100%;
    max-width: 768px;
    height: 914px;
  }

  .insiderportfoliobox {
    width: 100%;
    max-width: 728px;
    height: 794px;
  }

  .portfoliogallerybox {
    width: 100%;
    max-width: 728px;
    height: 654px;
  }


}